<div class = 'new-recipe'> <h2> New Recipe </h2> </div>


<br>
<br>

<div class = 'row'>
	<div class= 'col-md-6'>
		<%= simple_form_for @recipe, html: { class: 'form-horizontal'} do |form| %>
	</div>
</div>

	<div class = 'conteiner'>
		<div class= 'col-md-6'>		
			<%= form.input :name, label: 'Recipe name' %> <br>
			<%= form.input :difficulty_level, label: 'Difficulty level' %> <br>
			<%= form.input :preparation_time, label: 'preparation time' %> <br> <br> <br>
</div>
</div>

<div class = 'conteiner'>
	<div class= 'col-md-6'>
		<%= form.input :ingredients, label: 'list all ingredients' %> <br> <br>
		<%= form.input :directions, label: 'directions' %> <br>
		<%= form.association :category, :include_blank => false %> <br>
			
	</div>
</div>			
			
		

<div class = 'conteiner'>
	<div class= 'col-md-6'>	
			<%= form.input :photo, label: 'Photo File' %> <br>
			<%= form.submit 'SHARE RECIPE', class: 'btn btn-primary' %> <br><br><br>
		<% end %>
	</div>
</div>
